.div-words-plate {
  display: flex;
  flex-wrap: wrap;
}

.div-words-btn {
  display: flex;
  justify-content: flex-end;
}

.btn-next-words {
  margin: 50px;
  border-radius: 5px;
  background-color: transparent;
  font-size: 15px;
}

.btn-next-words:hover {
  background-color: #4CAF50;
}