body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: radial-gradient(circle, #575757, #4d4d4d, #434343, #393939, #303030);
}

.notify-msg {
  font-size: 25px;
  color: #fff;
}